{{> navbar}}

<div class="container">
    <h1 class="text-center">Anuncios</h1>

<form action="" method="post">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Titulo anuncio</label>
  <input type="text" class="form-control" id="exampleFormControlInput1">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Anuncio</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<button type="submit">Crear Anuncio</button>
</form>
</div>