{{> navbar}}
<div class="alert alert-primary" role="alert">
  A simple primary alert—check it out!
</div>
<section class="container">
    <h1 class="text-center mt-4">Detalle Solicitudes</h1>

    <div class="d-flex justify-content-end my-3">
        <a href="/solicitudes">Nueva Solicitud</a>
    </div>
    <table class="table table-striped mt-3">
    <thead>
        <tr>
        <th scope="col">Fecha Solicitud</th>
        <th scope="col">Solicitud Doméstica</th>
        <th scope="col">Solicitud Agrícola</th>
        <th scope="col">Solicitud Industrial</th>
        <th scope="col">Solicitud Emergencia</th>
        <th scope="col">Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        </tr>
    </tbody>
    </table>
</section>

