{{>navbar}}
{{!-- 
fecha
cantidad de agua
tipo de solicitud   
 --}}
<div class="container">
    <h1 class="text-center">Solicitud</h1>
    <form class="row g-3">
  <div class="col-md-4">
    <label  class="form-label">Fecha Solicitud</label>
    <input type="date" class="form-control">
  </div>
    <div class="col-md-4">
    <label for="inputState" class="form-label">Tipo Solicitud</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Doméstica</option>
      <option>Agrícola</option>
      <option>Industrial</option>
      <option>Emergencia</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Cantidad de agua</label>
    <input type="number" class="form-control" id="inputPassword4">
  </div>
  <div class="col-md-4">
    <label  class="form-label">Fecha Solicitud</label>
    <input type="date" class="form-control">
  </div>
    <div class="col-md-4">
    <label for="inputState" class="form-label">Tipo Solicitud</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Doméstica</option>
      <option>Agrícola</option>
      <option>Industrial</option>
      <option>Emergencia</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Cantidad de agua</label>
    <input type="number" class="form-control" id="inputPassword4">
  </div>
    <div class="col-md-4">
    <label  class="form-label">Fecha Solicitud</label>
    <input type="date" class="form-control">
  </div>
    <div class="col-md-4">
    <label for="inputState" class="form-label">Tipo Solicitud</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Doméstica</option>
      <option>Agrícola</option>
      <option>Industrial</option>
      <option>Emergencia</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Cantidad de agua</label>
    <input type="number" class="form-control" id="inputPassword4">
  </div>
    <div class="col-md-4">
    <label  class="form-label">Fecha Solicitud</label>
    <input type="date" class="form-control">
  </div>
    <div class="col-md-4">
    <label for="inputState" class="form-label">Tipo Solicitud</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>Doméstica</option>
      <option>Agrícola</option>
      <option>Industrial</option>
      <option>Emergencia</option>
    </select>
  </div>
  <div class="col-md-4">
    <label for="inputPassword4" class="form-label">Cantidad de agua</label>
    <input type="number" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>
</div>