<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clase Express-fileupload</title>
    <link rel="stylesheet" href="./assets/css/app.css">
  </head>
  <body>
    <h1>Express-Fileupload</h1>
    {{{body}}}
  </body>
</html>