<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>Bienvenido, {{name}}!</h1>
  <ul>
    {{#each items}}
    <li>{{this}}</li>
    {{/each}}
  </ul>
{{!--   {{> footer}} --}}
</body>
</html>